body{
background-image: linear-gradient(to bottom, #87cdc5, #73c8c9, #5ec2cd, #48bcd3, #33b5d9, #25add9, #1ba5d9, #1a9dd8, #1593d1, #1389ca, #1580c3, #1876bb);
}

canvas {

   box-shadow: 0 0  20px 10px #023F6B;

   /* border-radius: 10px; */
 }
 @media (min-height: 800px) {
    .btn-back {
     max-height: 70%;
   }

 }
 .row1{
   display: flex;
 justify-content: flex-start;

 }
.row1-wrap{
   position: absolute;
     height: 95%;
   width: 20%;
 }
 .btn-back {
   background-color: #FEC75E;
       padding: 20px;
       border: 2px solid #000;
       border-radius: 10px;
       font-family: 'DotGothic16', sans-serif;
       font-size: 10pt;
       width: 80%;
       height: 100%;
 }
 .btn-back-wrapper {
   display: flex;
   justify-content: center;
   height: 12%;
   width: 100%;
   position: absolute;
   top: 20%;
 }
.container {
  display: flex;
  justify-content: center;
}
.callout {
  position: fixed;
  width: 60%;
  max-width: 800px;
  /* position: absolute; */
  top: 2%;
  z-index: 5;
}

.callout-header {
  padding: 25px 0;
  background: #555;
  font-size: 27pt;
  color: white;
  text-align: center
}

.callout-container {
  padding: 40px 40px 40px 40px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 26pt;
}

.closebtn1 {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn1:hover {
  color: lightgrey;
}

.alert {
  position: absolute;
    top: 40%;
      padding: 20px;
      font-size: 15pt;
      max-width: 100%;
      background-color: #eee;
      color: #000;
      border: 3px dashed #4F7072;;
}

.closebtn {
  margin-left: 15px;
  color: #555;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
